.ilbakBar{
	background-image: url('../img/bottom-bar-bg.jpg');
	background-repeat:no-repeat;
	background-position: center center;
	padding:10px 0;
	background-size: cover;
}

footer{
	background-image: url('../img/footer-bg.jpg');
	background-repeat:no-repeat;
	background-position: center center;
	padding:30px 0 15px;
	background-size: cover;
	.teteLogo{
		width:100%;
	}
	.ilbakLogo{
		margin-top: 61px;
		display: block;
	}
	.borderLeft{
		border-left:1px solid #444444;
		box-sizing: border-box;
	}
	.footerBox.withPaddingBottom{
		padding-bottom: 23px;
	}
	.footerBox{
		margin-left: 15px;
		padding-left: 30px;
		a.home{
			color:$white;
			font-weight: bold;
			font-size:16px;
		}
		a{
			color:$red;
			display: block;
			margin-bottom: 10px;
			font-size: 16px;
			font-weight: bold;
		}
		h1{
			font-size: 24px;
			color:$white;
			margin-bottom: 0px;
			font-weight: bold;
			margin-top: 10px;
		}
		h3{
			color:$red;
			font-weight: bold;
			font-size:16px;
			margin-bottom: 0;
			margin-top: 0;
		}
		address{
			color:$white;
			display: block;
			margin-bottom: 5px;
			font-size: 16px;
		}
	}
}